body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#main-headline{
    margin-left: 10px;
    margin-right: 10px;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
}

.poke-Info-Card {
    height: 150px;
    width: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 14px;
    border-radius: 5px;
}

.poke-Info-Card:hover {
    cursor: pointer;
}

.pokemon-card-header {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
}

.dp-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.pokemonType {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemon-type-styling {
    text-align: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    font-weight: bold;
    font-size: small;
    width: 60px;
}

.dp-none {
    display: none;
}

.pokemon-container{
    margin-left: 10px;
}

@media(max-width: 414px) {
    .poke-Info-Card{
        height: 100px;
        width: 150px;
    }
    .pokemon-card-header{
        margin-top: -5px;
    }
    .pokemon-type-styling{
        width: 50px;
    }
}