body {
    margin: 0;
}

#pokedex {
    min-height: 50vh;
    background-color: #49D0B0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.pokemon-id {
    margin-top: 10.72px;
}

.poke-id-style{
    display: flex;
    
}

.pokemonType {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemon-type-styling {
    text-align: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    font-weight: bold;
    font-size: small;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 100px;
    margin-top: -40px;
    min-height: 100px;
}

.pokemon-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pokemon-image img {
    height: 200px;
    width: 200px;
}